# Local folder for node modules
node_modules

# Temporary files directory
tmp

# Code coverage storage directory
coverage

# Benchmarks storage directory
benchmarks

# Git bundle archives
.bundle

# Jetbrains IDE storage directory
.idea

# Sublime Text editor storage
.sublime-project

# Microsoft Visual Studio files
.suo
.sdf
.opensdf
.user

# Mac OS X files
.DS_Store

# Fonts
public/js/*.woff
public/js/*.ttf
public/js/*.eot
public/js/*.svg

# Bundled front-end
public/js/bundle.js
public/js/bundle.js.map
